
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:max-content; 
    text-align: center; 
    width: 40%;
    margin:auto;
    border: 5px solid black;
    background-color: darkcyan;
}

